<div class="jumbotron">
	<div class="container">
		<br>
		<br>
		<h3 class="display-3">Papeleria San Vicente</h3>
		<p>Carretera Nacional Caripito - Casanay</p>
	</div>
</div>
<div class="container marketing">
  <div class="row">
    
    <div class="col-lg-4 text-center">
      <img src="assets/facebook.png" alt="facebook" width="140" height="140">
      <h2>Facebook</h2>
      <p>Papeleria San Vicente</p>
      <button class="btn btn-lg-2 btn-primary" href="#">Visitar sitio &raquo;</button>
      <hr>
    </div>
    
    <div class="col-lg-4 text-center">
      <img src="assets/instagram.png" alt="instagram" width="140" height="140">
      <h2>Instagram</h2>
      <p>@papeleria_sv</p>
      <button class="btn btn-lg-2 btn-primary" href="#">Visitar sitio &raquo;</button>
      <hr>
    </div>
    
    <div class="col-lg-4 text-center">
      <img src="assets/twitter.png" alt="twitter" width="140" height="140">
      <h2>Twitter</h2>
      <p>@papeleria_sv</p>
      <button class="btn btn-lg-2 btn-primary" href="#">Visitar sitio &raquo;</button>
      <hr>
      
    </div>
  </div>
</div>